# configure auth token
@fontawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=$AUTH_TOKEN

#Default registry
registry=https://registry.npmjs.org/

#scoped registry
@cloudhadoop:registry=http://npm.noncompliant.com

# OMG you are p4wnd! if this is leaked
//npm.noncompliant.com/:_authToken=a73c9572-f1b9-8983-983d-ba3ac3cc913d

;log level settings
loglevel=warn