<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <pluginGroups>
  </pluginGroups>

  <proxies>
    <proxy>
      <id>my-proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <username>proxyuser</username>
      <!-- secret leak (maven-pom-secret) -->
      <password>proxypass</password>
      <host>proxy.host.net</host>
      <port>80</port>
      <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
    </proxy>
    <proxy>
      <id>my-proxy-encrypted</id>
      <active>true</active>
      <protocol>http</protocol>
      <username>proxyuser</username>
      <password>{COQLCE6DU6GtcS5P=}</password>
      <host>proxy.host.net</host>
      <port>80</port>
      <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
    </proxy>
  </proxies>

  <!-- servers
   | This is a list of authentication profiles, keyed by the server-id used within the system.
   | Authentication profiles can be used whenever maven must make a connection to a remote server.
   |-->
  <servers>
    <server>
      <id>siteServer-pass</id>
      <username>repouser</username>
      <!-- empty passwords are ignored, this is ok -->
      <password></password>
    </server>
    <server>
      <id>siteServer-pass2</id>
      <username>repouser</username>
      <!-- secret leak (maven-pom-secret) -->
      <password>P4zzw0rk!</password>
    </server>
    <server>
      <id>siteServer-pass-encrypted</id>
      <username>repouser</username>
      <!-- encrypted, should not emit leak -->
      <password>{COQLCE6DU6GtcS5P=}</password>
    </server>

    <server>
        <id>siteServer-pk</id>
        <privateKey>/path/to/private/key</privateKey>
        <!--
        Empty passphrase means that the pk is unencrypted.
        Of course this is a security flaw, but not a secret leak.
        -->
        <passphrase></passphrase>
    </server>
    <server>
      <id>siteServer-pk2</id>
      <privateKey>/path/to/private/key</privateKey>
      <!-- secret leak (maven-secret-password) -->
      <passphrase>pr1v4t3_KeY_p4ss</passphrase>
    </server>
  </servers>

  <mirrors>
  </mirrors>

  <profiles>
    <profile>
      <id>satscha-github</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <!-- should not report this -->
        <encrypted.database.password>{wGpHaPO3nJ4HSKJa7qcMK9qjHAdwlvMrtjYjj8bwguI=}</encrypted.database.password>
        <!-- secret leak (maven-pom-secret) -->
        <cleartext.database.password>P4wn3d!</cleartext.database.password>
      </properties>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
        </repository>
        <repository>
          <id>github</id>
          <url>https://maven.pkg.github.com/xygeni/DepsDoctor</url>
        </repository>
      </repositories>
      <pluginRepositories>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>satscha-github</activeProfile>
  </activeProfiles>

</settings>